<ng-container *ngIf="config.siteSettings.search">
  <form class="search-form">
    <mat-form-field class="search-container">
      <mat-label [style]="{'font-family': config.siteSettings.fontFamily}">Search By Drink Name</mat-label>
      <input matInput placeholder="Search by name" name="searchTerm" [(ngModel)]="searchTerm" class="search-input" [style]="{'font-family': config.siteSettings.fontFamily}">
    </mat-form-field>
  </form>
</ng-container>
<div class="content">
  <ng-container *ngFor="let singleDrinkItem of allDrinkingItems">
    <div class="card" *ngIf="!config.siteSettings.search || (config.siteSettings.search && searchTerm == '') || (config.siteSettings.search && searchTerm != '' && singleDrinkItem.strDrink.toLocaleLowerCase().includes(searchTerm.toLocaleLowerCase()))">
      <mat-card class="drink-card" appearance="outlined" >
        <mat-card-header>
          <mat-card-title class="drink-title" [style]="{'color': config.theme.thirdColor, 'font-family': config.siteSettings.fontFamily}">{{singleDrinkItem.strDrink}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{singleDrinkItem.strDrinkThumb}}" alt="{{singleDrinkItem.strDrink}}">
        <mat-card-actions>
          <button *ngIf="config.siteSettings.typeOfDetailsPage == '_blank'" class="action-button" routerLink="/drink-details/{{singleDrinkItem.idDrink}}" matButton [style]="{'color': config.theme.thirdColor, 'background-color': config.theme.secondaryColor, 'font-family': config.siteSettings.fontFamily}">
            <mat-icon aria-hidden="false" aria-label="arrow_forward" fontIcon="arrow_forward"></mat-icon>
            View More
          </button>
          <button *ngIf="config.siteSettings.typeOfDetailsPage == 'dialog'" class="action-button" (click)="openPopup(singleDrinkItem.idDrink)" matButton [style]="{'color': config.theme.thirdColor, 'background-color': config.theme.secondaryColor, 'font-family': config.siteSettings.fontFamily}">
            <mat-icon aria-hidden="false" aria-label="arrow_forward" fontIcon="arrow_forward"></mat-icon>
            View More
          </button>
        </mat-card-actions> 
      </mat-card>
    </div>
  </ng-container>
</div>