.drink-card {
  margin: 1%;
  width: 350px;
}

.drink-card-image {
  background-size: cover;
}

.content{
  display: flex;
  // justify-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2% 0%;
}

.drink-title{
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.mat-mdc-card-header {
    display: flex;
    padding: 16px 16px 16px !important;
}
.mat-mdc-card-header-text{
  justify-content: center;
  display: flex;
  flex-grow: 1;
}

.mdc-button__label{
  font-size: 15px;
}

.search-container{
  display: flex;
  margin: 2%;
  flex-direction: row-reverse;
  div.mat-mdc-text-field-wrapper{
    width: 25% !important;
  }
}

.action-button{
  font-weight: 600;
}

@media only screen and (max-width: 450px) {
  .search-container{
    display: flex;
    margin: 6% 9% 2% 10%;
    flex-direction: column;
  }
}