.content{
  display: flex;
  justify-content: space-evenly;
  // flex-wrap: wrap;
  margin: 2% 0%;
  padding: 0% 5%;
  flex-direction: column;
}

.back-button{
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 1%;
  width: 7%;
  padding: 6px;
  border-radius: 25px;
  cursor: pointer;
  justify-content: center;
}

.inner-content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}

.content-header{
  display: flex;
  justify-content: space-between;
}

.image-container{
  img{
    width: 100%;
  }
}

.translation-container{
  height: 60px;
}

.drink-details{
  width: 100%;
  margin: 3% 0% 0% 3%;
}

.title-container{
  font-weight: 600;
  font-size: 2em;
}

.category-container{
  display: flex;
  align-items: center;
  margin-top: 2%;
  width: 100%;
  justify-content: space-between;
}

.single-cat-details{
  display: flex;
  align-items: center;
  cursor: pointer;
  span.type-text{
    margin-left: 10px;
  }
}

.instruction-container, .mixture-details{
  font-size: 17px;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .inner-content{
    display: flex;
    // justify-content: space-evenly;
    flex-direction: column;
    margin-top:1%;
  }

  .back-button{
    width: 24%;
    padding: 10px;
  }

  .drink-details{
    width: 100%;
    margin-left: 0%;
  }

  .category-container{
    flex-wrap: wrap;
  }

  .title-container{
    .title{
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px)  {
  .back-button{
    width: 11%;
    padding: 10px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
  .back-button{
    width: 11%;
    padding: 10px;
  }
}