<div class="content">
  <div class="image-container">
    <img src="{{drinkDetails['strDrinkThumb']}}" alt="{{drinkDetails['strDrink']}}">
  </div>
  <div class="drink-details">
    <div class="title-container">
      <label class="title">{{drinkDetails.strDrink}}</label>
      <mat-form-field>
        <mat-label>Select Language</mat-label>
        <mat-select [(value)]="language">
          <mat-option [value]="''">English</mat-option>
          <mat-option [value]="'DE'">German</mat-option>
          <mat-option [value]="'ES'">Spanish</mat-option>
          <mat-option [value]="'FR'">French</mat-option>
          <mat-option [value]="'IT'">Italian</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="category-container">
      <div class="single-cat-details">
        <mat-icon aria-hidden="false" aria-label="local_drink" fontIcon="local_drink" title="Mug Type"></mat-icon>
        <span class="type-text">{{drinkDetails['strGlass']}}</span>
      </div>
      <div class="single-cat-details" *ngIf="drinkDetails['strAlcoholic'] == 'Alcoholic'">
        <mat-icon aria-hidden="false" aria-label="local_bar" fontIcon="local_bar" title="Drink Type"></mat-icon>
        <span class="type-text">{{drinkDetails['strAlcoholic']}}</span>
      </div>
      <div class="single-cat-details" *ngIf="drinkDetails['strAlcoholic'] != 'Alcoholic'">
        <mat-icon aria-hidden="false" aria-label="no_drinks" fontIcon="no_drinks" title="Drink Type"></mat-icon>
        <span class="type-text">{{drinkDetails['strAlcoholic']}}</span>
      </div>
      <div class="single-cat-details">
        <mat-icon aria-hidden="false" aria-label="liquor" fontIcon="liquor" title="Drink Category"></mat-icon>
        <span class="type-text">{{drinkDetails['strCategory']}}</span>
      </div>
      <div class="single-cat-details">
        <mat-icon aria-hidden="false" aria-label="date_range" fontIcon="date_range" title="Modified On"></mat-icon>
        <span class="type-text">{{drinkDetails['dateModified'] | date: config.siteSettings.dateFormat}}</span>
      </div>
    </div>
    <div class="instruction-container">
      <p>{{drinkDetails['strInstructions'+language]}}</p>
    </div>
    <div class="mixture-details">
      <ul>
        <ng-container *ngFor="let item of [].constructor(15); let i = index">
          @if (drinkDetails['strIngredient'+(i+1)]) {
            <li >{{drinkDetails['strIngredient'+(i+1)]}} 
              @if(drinkDetails['strMeasure'+(i+1)]) {
                - {{drinkDetails['strMeasure'+(i+1)]}}
              }
            </li>
          }
        </ng-container>
      </ul>
    </div>
  </div>
</div>