<div class="content" [style]="{'font-family': config.siteSettings.fontFamily}">
  <div class="content-header" [style]="{'justify-content': config.siteSettings.typeOfDetailsPage == 'dialog' && 'end'}">
    <div class="back-button" [style]="{'background-color': config.theme.secondaryColor}" *ngIf="config.siteSettings.typeOfDetailsPage == '_blank'">
      <mat-icon aria-hidden="false" routerLink="/drink-list" aria-label="arrow_backward" fontIcon="arrow_backward"></mat-icon>
      <span routerLink="/drink-list">Go Back</span>
    </div>
    <div class="translation-container">
      <mat-form-field>
        <mat-label [style]="{'font-family': config.siteSettings.fontFamily}">Select Language</mat-label>
        <mat-select [(value)]="language" [style]="{'font-family': config.siteSettings.fontFamily}">
          <mat-option [value]="''">English</mat-option>
          <mat-option *ngIf="drinkDetails['strInstructionsDE']" [value]="'DE'">German</mat-option>
          <mat-option *ngIf="drinkDetails['strInstructionsES']" [value]="'ES'">Spanish</mat-option>
          <mat-option *ngIf="drinkDetails['strInstructionsFR']" [value]="'FR'">French</mat-option>
          <mat-option *ngIf="drinkDetails['strInstructionsIT']" [value]="'IT'">Italian</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="inner-content">
    <div class="image-container">
      <img src="{{drinkDetails['strDrinkThumb']}}" alt="{{drinkDetails['strDrink']}}">
    </div>
    <div class="drink-details">
      <div class="title-container">
        <label class="title">{{drinkDetails.strDrink}}</label>
      </div>
      <div class="category-container">
        <div class="single-cat-details">
          <mat-icon aria-hidden="false" aria-label="local_drink" fontIcon="local_drink" title="Mug Type" [style]="{'color': config.theme.thirdColor}"></mat-icon>
          <span class="type-text">{{drinkDetails['strGlass']}}</span>
        </div>
        <div class="single-cat-details" *ngIf="drinkDetails['strAlcoholic'] == 'Alcoholic'">
          <mat-icon aria-hidden="false" aria-label="local_bar" fontIcon="local_bar" title="Drink Type" [style]="{'color': config.theme.thirdColor}"></mat-icon>
          <span class="type-text">{{drinkDetails['strAlcoholic']}}</span>
        </div>
        <div class="single-cat-details" *ngIf="drinkDetails['strAlcoholic'] != 'Alcoholic'">
          <mat-icon aria-hidden="false" aria-label="no_drinks" fontIcon="no_drinks" title="Drink Type" [style]="{'color': config.theme.thirdColor}"></mat-icon>
          <span class="type-text">{{drinkDetails['strAlcoholic']}}</span>
        </div>
        <div class="single-cat-details">
          <mat-icon aria-hidden="false" aria-label="liquor" fontIcon="liquor" title="Drink Category" [style]="{'color': config.theme.thirdColor}"></mat-icon>
          <span class="type-text">{{drinkDetails['strCategory']}}</span>
        </div>
        <div class="single-cat-details">
          <mat-icon aria-hidden="false" aria-label="date_range" fontIcon="date_range" title="Modified On" [style]="{'color': config.theme.thirdColor}"></mat-icon>
          <span class="type-text">{{drinkDetails['dateModified'] | date: config.siteSettings.dateFormat}}</span>
        </div>
      </div>
      <div class="instruction-container">
        <p>{{drinkDetails['strInstructions'+language]}}</p>
      </div>
      <div class="mixture-details">
        <ul>
          <ng-container *ngFor="let item of [].constructor(15); let i = index">
            @if (drinkDetails['strIngredient'+(i+1)]) {
              <li >{{drinkDetails['strIngredient'+(i+1)]}} 
                @if(drinkDetails['strMeasure'+(i+1)]) {
                  - {{drinkDetails['strMeasure'+(i+1)]}}
                }
              </li>
            }
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>